.content-container {
    position: absolute;
    top: 0;
    left: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;

    width: 80vw;
    height: 100%;

}

.content-container pre {
    font-family: Lato, sans-serif;
    font-style: italic;
    font-weight: 300;
    font-size: 3.6vmin;
    /* line-height: 10px; */
    color: black;

    margin: auto;
}

.content-container h3 {
    font-style: normal;
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
    text-align: right;
}