.simulation-frame {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 50vmax;

    margin-top: 2rem;
    margin-bottom: 2rem;
}

.lista-eventos{
    list-style: none;
    margin-bottom: 0.35em;
    margin-left: 2rem;
    font-family: 'Raleway';
}

.lista-eventos li a {
    font-style: italic;
    text-decoration: none;
    color: #001F30;
    font-family: 'Open Sans';
}

.lista-eventos li a:hover {
    color: #D62828;
}