.frame-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;

    margin-top: 2rem;
    margin-bottom: 2rem;
    /* background-color: blue; */
}

.modulaciones-frame {
    display: block;
    width: 80%;
    height: 50vh;
    margin-left: auto;
    margin-right: auto;

    margin-top: 2rem;
    margin-bottom: 2rem;
}

.link {
    font-style: italic;
    text-decoration: none;
    color: #001F30;
    font-family: 'Open Sans';
    font-weight: 300;
}

a:hover {
    color: #D62828;
}

img {
    display: block;
    width: 50%;
    margin: auto;
}

#logo-catul {
    width: 80% !important;
}

#logo-et {
    width: 25% !important;
}

#logo-explora {
    width: 50% !important;
}

#logo-exploratorio {
    width: 50% !important;
}