.frame-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;

    margin-top: 2rem;
    margin-bottom: 2rem;
    /* background-color: blue; */
}

.modulaciones-frame {
    display: block;
    width: 80%;
    height: 50vh;
    margin-left: auto;
    margin-right: auto;

    margin-top: 2rem;
    margin-bottom: 2rem;
}

#logo-catul {
    width: 80% !important;
}