.title-name {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 45px;

    color: #003049;
    padding: 0;
    line-height: 35px;
}

#last-name {
    font-weight: 100;
    font-size: 36px;
}

.nav-links {
    color: #001F30;
    /* margin-top: 5rem; */
}

.nav-links a {
    color: #001F30;
    text-decoration: none;
}

.nav-links a:hover {
    color: #D62828;
}

.nav-links li {
    list-style: none;
    margin-bottom: 0.35em;
}

#bio-link {
    display: block;
    font-weight: normal;
    margin-top: 1.5rem;
    /* margin-bottom: 5rem */

}

.burger { 
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: #003049;
    margin: 5px;
    transition: all 0.3s ease;
}

.social-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
}

.social-nav a {
    display: block;
    width: auto;
    padding-right: 5%;
}

.social-nav img {
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 1400px) {
    .title-name {font-size: 40px;}
    #last-name {font-size: 31px;}
    nav {font-size: 14px;}
}

@media screen and (max-width: 1200px) {
    .title-name {font-size: 32px; line-height: 25px;}
    #last-name {font-size: 25px;}
    nav {font-size: 14px;}
}

@media screen and (max-width: 950px) {
    .title-name {font-size: 25px; line-height: 23px;}
    #last-name {font-size: 20px;}
    nav {font-size: 14px;}
}

@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }

    .nav-container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

        width: 100vw;
        height: 10vh;
        z-index: 100;
    }
   
    /* .nav-links {
        display: none;
    } */

    .title-name a {
        display: flex;
        flex-direction: row;
        font-size: x-large; 
        /* line-height: 23px; */
    }

    #last-name {
        font-size: x-large;
        margin-left: 0.25rem;
    }

    .social-nav {
        display: none;
    }

    .burger {
        display: block;
        cursor: pointer;
    }

    /* nav {
        font-size: 14px;
        width: 100vw;
    } */
    .nav-links {
        position: absolute;
        right: 0px;
        /* height: 92vw; */
        top: 8vh;
        width: 100%;
        margin: auto;
        text-align: center;
        font-size: x-large;
        transform: translateX(100%);
        transition: transform 0.4s ease-out;
        /* background-color: #D62828;  */
    }

    .nav-links li {
        opacity: 0%;
    } 
    
}

.nav-active {
    transform: translate(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(40px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle #line1 {
    transform: rotate(-45deg) translate(-5px,6px);
}

.toggle #line2 {
    opacity: 0;
}

.toggle #line3 {
    transform: rotate(45deg) translate(-5px,-6px);
}