.video-holder {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;

    margin-top: 2rem;
    margin-bottom: 2rem;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
    background-color: #000000;

    margin-top: 2rem;
    margin-bottom: 2rem;
}

.video-container iframe {
    position: absolute;
	top: 0;
	left: 0;
	width: 100%;
    height: 100%;
}

.link {
    font-style: italic;
    text-decoration: none;
    color: #001F30;
    font-family: 'Open Sans';
    font-weight: 300;
}

a:hover {
    color: #D62828;
}

img {
    display: block;
    width: 50%;
    margin: auto;
}

#logo-et {
    width: 25% !important;
}

#logo-explora {
    width: 50% !important;
}

#logo-exploratorio {
    width: 50% !important;
}