name: Deploy Sphinx Docs

on:
  push:
    branches:
      - master
    tags:
      - 'v*'
jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Build HTML
        uses: ammaraskar/sphinx-action@master
        with:
          docs-folder: "."
        
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: html-docs
          path: build/html/

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        if: github.ref == 'refs/heads/master'
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: html/ 
          publish_branch: gh-pages 
